# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log
api.pid

# Local env files
.env
.env*.local
.env.*
!.env.example
!.env.template

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
